body {
  background-color: #90e0ef;
}

h1 {
  text-align: center;
  color: #03045e;
  font-size: 36px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 26px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  background-color: #0077b6;
}
nav li {
  display: inline;
  margin-right: 30px;
  color: black;
  font-size: 18px;
}
nav ul {
  list-style: none;
  padding: 2%;
  text-align: center;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

blockquote#quote-text{
  font-family: "Ubuntu Sans", sans-serif;
  background: #e6eaf3;
  border-left: 10px solid #0077B6;
  border-radius: 7px;
  width: fit-content;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote#quote-text::before{
  content: open-quote;
}

blockquote#quote-text::after {
  content: close-quote;
}

.button-19 {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.typed-cursor {
  display: none;
}
